body{
  background-color: #e2e2e2;
}

#page {
  margin-top: 30px;
}

#form-area {
  text-align: center;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  padding: 50px;
}

#submit-btn{
  display: block;
  width: 100%;
}

.form-fields{
  padding-left: 10px;
}
